.login {
    -fx-background-color:linear-gradient(white,#DDDDDD);
    -fx-font-size: 1.2em;
}
.label {
	-fx-font-size: 1.1em;
}
.profile {
    -fx-background-color:linear-gradient(white,#DDDDDD);
    -fx-font-size: 1.1em;
}
.profile #subscribed {
    -fx-font-size: 0.8em;
}
.profile #message {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.button {
    -fx-text-fill: #e4f3fc;
    -fx-font: 14pt "Tahoma Bold";
    -fx-padding: 4;
    -fx-base: #2d4b8e;
}

.text-input {
    -fx-text-fill: #000000;
    -fx-font: 16pt "Tahoma Bold";
    -fx-padding: 4;
    -fx-base: #2d4b8e;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.roundedAnchorPane {
    -fx-border-radius:10 10 10 10;
    -fx-border-color: #d6d6d6;
    -fx-border-width: 0.083333em;
    -fx-padding: 4;
}
.columnaCobrar {
	-fx-alignment: center ;

}
.table-view {
	-fx-border-color: #d6d6d6;
	-fx-background-color: #d6d6d6;
	-fx-table-cell-border-color:#d6d6d6;
	-fx-table-header-border-color:#d6d6d6;
}
.table-view-1 {
	-fx-border-color: #d6d6d6;
	-fx-background-color: #d6d6d6;
	-fx-table-cell-border-color:#d6d6d6;
	-fx-table-header-border-color:#DDDDDD;
}

.menu{
	-fx-font: 14pt "Tahoma Bold";
}
.menu_item{
	-fx-font: 14pt "Tahoma Bold";
}
.gradient{
    -fx-background-color:linear-gradient(white,#DDDDDD);
}
.footer	{
    -fx-background-color:linear-gradient(#DDDDDD,#000000);
    -fx-font-size: 1.5em;
    -fx-font-size: 1.5em;
    -fx-font-color: white;
}